body {
  padding-bottom: 20px;
}

/* chatgpt : sans utiliser les variables css bootstrap, quelles sont les caractéristiques de la navbar que je peux modifier dans mon fichier css hormis la couleur */
.navbar {
background-color: var(--bs-success) !important;
color: var(--bs-info) ;
font-family: 'Montserrat', sans-serif;
letter-spacing: 4px;
opacity: 0.9  ; 
}

.navbar a.nav-link {
color: var(--bs-light-bg-subtle) !important;
}

.navbar a.nav-link:hover {
color: var(--bs-emphasis-color) !important;
}